@model IEnumerable<LTWeb05_Bai03.Models.Product>
@{
    ViewBag.Title = "Hiển thị sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HienThiSanPham</h2>
<table class="table table-striped border">
    <thead class="thead-dark">
        <tr>
            <th>
                Mã sản phẩm
            </th>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Đường dẫn
            </th>
            <th>
                Giá
            </th>
            <th>
                Mô tả
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(ModelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(ModelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(ModelItem => item.ProductPath)
            </td>
            <td>
                @Html.DisplayFor(ModelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(ModelItem => item.Description)
            </td>
        </tr>
    }
</table>

